{# filepath: c:\Users\fatma\symfonypidev\templates\tournois\edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Tournoi{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Edit Tournoi</h2>
        </header>
        <div class="panel-body">
            {{ form_start(form, {'attr': {'novalidate':'novalidate','class': 'form-horizontal form-bordered'}}) }}

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.nom) }}</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-trophy"></i></span>
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Tournament Name'}}) }}
                    </div>
                    {{ form_errors(form.nom) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.sport) }}</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-futbol"></i></span>
                        {{ form_widget(form.sport, {'attr': {'class': 'form-control', 'placeholder': 'Sport Type'}}) }}
                    </div>
                    {{ form_errors(form.sport) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.dateDebut) }}</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-calendar"></i></span>
                        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
                    </div>
                    {{ form_errors(form.dateDebut) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.dateFin) }}</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-calendar-check"></i></span>
                        {{ form_widget(form.dateFin, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
                    </div>
                    {{ form_errors(form.dateFin) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.adresse) }}</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Enter Address'}}) }}
                    </div>
                    {{ form_errors(form.adresse) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-warning"><i class="fas fa-edit"></i> {{ button_label|default('Update') }}</button>
                    <a href="{{ path('app_tournois_index') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i> Back to list</a>
                </div>
            </div>

            {{ form_end(form) }}

            <hr>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <h4>Delete this Tournoi</h4>
                    {{ include('tournois/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}