{% extends 'base.html.twig' %}

{% block title %}Blessure index{% endblock %}

{% block body %}
    <h1>Blessure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Athlete_id</th>
                <th>TypeBlessure</th>
                <th>Description</th>
                <th>DateBlessure</th>
                <th>DateReprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blessure in blessures %}
            <tr>
                <td>{{ blessure.id }}</td>
                <td>{{ blessure.athleteId }}</td>
                <td>{{ blessure.typeBlessure }}</td>
                <td>{{ blessure.description }}</td>
                <td>{{ blessure.dateBlessure ? blessure.dateBlessure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blessure.dateReprise ? blessure.dateReprise|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_blessure_show', {'id': blessure.id}) }}">show</a>
                    <a href="{{ path('app_blessure_edit', {'id': blessure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blessure_new') }}">Create new</a>
{% endblock %}
